@import '../variables.scss';

.filter {
  display: flex;
}

.input {
  width: 300px;
  margin-left: 20px;
  outline: none;
}

.label {
  display: block;
  color: $label-color;
  font-weight: 700;

  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;

  border-bottom: 1px #0078bf solid;
}
