@import '../../../../helpers/variables.scss';

.button {
  font-weight: 500;
  color: $button-color;
  background-color: $button-bg-color;
  border-radius: 5px;
  padding: 5px 15px;

  &:hover,
  &:focus {
    background-color: $button-active-bg-color;
    box-shadow: $shadow-button;
  }
}

.buttonDelete {
  composes: button;
  background-color: $delete-bg-color;

  &:hover,
  &:focus {
    background-color: $delete-active-bg-color;
    box-shadow: $shadow-button;
  }
}

.editContacts {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input {
  width: 220px;
  height: 25px;
}
