@import '../helpers/variables.scss';

.link {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: $color;
  padding: 5px;
}

.activeLink {
  composes: link;
  color: $accent-color;
}

ul {
  list-style: none;
}

.isBold {
  font-weight: 700;
}

.title {
  font-size: 40px;
  color: #0000ff;
}

.find {
  width: 60%;
  height: 34px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.findDone {
  composes: find;
  background-color: $accent-background-color;
}
