@import '../variables.scss';

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px $button-bg-color solid;
  border-bottom: 2px $button-bg-color solid;
  margin-bottom: 20px;
  padding: 10px 0;
}

.input {
  width: 220px;
  margin-left: 15px;
}

.label {
  display: flex;
  justify-content: space-between;
  color: $label-color;
  align-items: center;

  font-weight: 700;
}

.button {
  margin-left: 20px;
  width: 55px;
  height: 30px;
  color: $button-color;
  background-color: $button-bg-color;
  border-radius: 15px;

  &:hover,
  &:focus {
    background-color: $button-active-bg-color;
    box-shadow: $shadow-button;
  }
}
