@import '../../helpers/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: $border;
  background-color: $accent-background-color;
  border-radius: 15px;
}
